<div class="title">
  <h1>Design System Implementatie (Angular)</h1>
  <h3>William Sarkisjan & Willem Wesdorp</h3>
</div>

<div class="center">
  <h2>Atoms</h2>
  <div class="buttonDiv">
    <code>&#60;app-atom-button buttonText='Button'&#62;</code>
    <app-atom-button></app-atom-button>
    <code>&#60;app-atom-inputfield&#62;</code>
    <app-atom-inputfield></app-atom-inputfield>
  </div>
  <br />

  <h2>Molecules</h2>
  <div class="buttonDiv">
    <code>&#60;app-molecule-login&#62;</code>
    <app-molecule-login></app-molecule-login>
  </div>
</div>
<router-outlet></router-outlet>
